/*item {display: block;}*/
body {font-family: sans-serif;}
h1 {padding-left: 40px;}
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

#navcontainer a:link {color:#666666;}
#navcontainer a:visited {color:#666666;}
div.intro {color: #666666; padding-left: 40px;}
div.trail {width: 700px;}
img.thumbnail {float: left; /*clear: both;*/ padding-right:40px;}
li.listitem {list-style: none; margin-bottom: 15px; padding-bottom: 10px; clear:both; display:block; border-bottom: 1px dashed #cccccc; }
p {margin-top : 0px; margin-bottom: 0px;}
img {border: none;}