          .star-on{
              color: rgb(255,215,64);
          }
          .trail-pic{
              vertical-align: text-top;
              float:left;
              margin-right: 5px;

          }
          .item{
              align-items: baseline;
              overflow: visible;
              display: inline-block;
              width: 100%
          }

          .nav-icon{
              color:rgb(117, 117, 117);
              font-size: 48px !important;
          }